Cosmos/02CosmosDBCreationPoC/DocumentManagement/bin/Debug/Newtonsoft.Json.dll
Cosmos/02CosmosDBCreationPoC/DocumentManagement/bin/Debug/Microsoft.Azure.Documents.Client.xml
Cosmos/02CosmosDBCreationPoC/DocumentManagement/bin/Debug/Microsoft.Azure.Documents.Client.dll
Cosmos/02CosmosDBCreationPoC/DocumentManagement/bin/Debug/DocumentDB.Samples.Shared.pdb
Cosmos/02CosmosDBCreationPoC/DocumentManagement/bin/Debug/DocumentDB.Samples.Shared.dll
Cosmos/02CosmosDBCreationPoC/DocumentManagement/bin/Debug/DocumentDB.Samples.DocumentManagement.pdb
Cosmos/02CosmosDBCreationPoC/DocumentManagement/bin/Debug/DocumentDB.Samples.DocumentManagement.exe.config
Cosmos/02CosmosDBCreationPoC/DocumentManagement/bin/Debug/DocumentDB.Samples.DocumentManagement.exe
Cosmos/02CosmosDBCreationPoC/DocumentManagement/bin/Debug/Newtonsoft.Json.xml
Cosmos/02CosmosDBCreationPoC/DocumentManagement/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Cosmos/02CosmosDBCreationPoC/DocumentManagement/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Cosmos/02CosmosDBCreationPoC/DocumentManagement/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Cosmos/02CosmosDBCreationPoC/DocumentManagement/obj/Debug/DocumentManagement.csprojAssemblyReference.cache
Cosmos/02CosmosDBCreationPoC/DocumentManagement/obj/Debug/DocumentManagement.csproj.FileListAbsolute.txt
Cosmos/02CosmosDBCreationPoC/DocumentManagement/obj/Debug/DocumentManagement.csproj.CoreCompileInputs.cache
Cosmos/02CosmosDBCreationPoC/DocumentManagement/obj/Debug/DocumentManagement.csproj.CopyComplete
Cosmos/02CosmosDBCreationPoC/DocumentManagement/obj/Debug/DocumentDB.Samples.DocumentManagement.pdb
Cosmos/02CosmosDBCreationPoC/DocumentManagement/obj/Debug/DocumentDB.Samples.DocumentManagement.exe
Cosmos/02CosmosDBCreationPoC/DocumentManagement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cosmos/02CosmosDBCreationPoC/Shared/bin/Debug/Newtonsoft.Json.xml
Cosmos/02CosmosDBCreationPoC/Shared/bin/Debug/Newtonsoft.Json.dll
Cosmos/02CosmosDBCreationPoC/Shared/bin/Debug/Microsoft.Azure.Documents.Client.xml
Cosmos/02CosmosDBCreationPoC/Shared/bin/Debug/Microsoft.Azure.Documents.Client.dll
Cosmos/02CosmosDBCreationPoC/Shared/bin/Debug/DocumentDB.Samples.Shared.pdb
Cosmos/02CosmosDBCreationPoC/Shared/bin/Debug/DocumentDB.Samples.Shared.dll
Cosmos/02CosmosDBCreationPoC/Shared/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Cosmos/02CosmosDBCreationPoC/Shared/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Cosmos/02CosmosDBCreationPoC/Shared/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Cosmos/02CosmosDBCreationPoC/Shared/obj/Debug/Shared.csprojAssemblyReference.cache
Cosmos/02CosmosDBCreationPoC/Shared/obj/Debug/Shared.csproj.FileListAbsolute.txt
Cosmos/02CosmosDBCreationPoC/Shared/obj/Debug/Shared.csproj.CoreCompileInputs.cache
Cosmos/02CosmosDBCreationPoC/Shared/obj/Debug/Shared.csproj.CopyComplete
Cosmos/02CosmosDBCreationPoC/Shared/obj/Debug/DocumentDB.Samples.Shared.pdb
Cosmos/02CosmosDBCreationPoC/Shared/obj/Debug/DocumentDB.Samples.Shared.dll
Cosmos/02CosmosDBCreationPoC/Shared/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
